@use "ceci-variables.scss";

button {
  background-color: ceci-variables.$button-bg-color;
  color: ceci-variables.$button-color;
  border: 2px solid ceci-variables.$button-color;
  padding: 5px;
  margin: 0 1px 0 1px;
  width: auto;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  &:hover {
    color: ceci-variables.$button-color-hover;
    stroke: ceci-variables.$button-color-hover;
    background-color: ceci-variables.$button-bg-color-hover;
    border: 2px solid ceci-variables.$button-border-hover;
  }

  &:active {
    stroke: white;
    color: white;
    background-color: ceci-variables.$button-color;
    border: 2px solid ceci-variables.$button-border-active;
  }
}

button.selected {
  @extend button;
  background-color: ceci-variables.$button-color;
  color: ceci-variables.$button-bg-color;

  &:hover {
    background-color: ceci-variables.$button-bg-color-hover;
    color: ceci-variables.$button-color-hover;
    stroke: ceci-variables.$button-color-hover;
    border: 2px solid ceci-variables.$button-border-hover;
  }
}
