@import "ceci-variables.scss";

.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 100%;
  margin: 0 auto;

  div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;

    &:hover img {
      filter: grayscale(0);
    }

    &:hover {
      border-color: $button-border-hover;
    }

    img {
      width: 100%;
      filter: grayscale(100%);
      border-radius: 5px;
      transition: all 0.25s ease-in-out;
    }

    p {
      margin: 5px 0;
      padding: 0;
      text-align: center;
      font-style: italic;
    }
  }
}

#pages2,
#pages {
  width: 100%;
  margin: 10px auto;
}

button {
  background-color: $button-bg-color;
  color: $button-color;
  border: 2px solid $button-color;
  padding: 5px;
  margin: 0 1px 0 1px;
  width: auto;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  &:hover {
    color: $button-color-hover;
    stroke: $button-color-hover;
    background-color: $button-bg-color-hover;
    border: 2px solid $button-border-hover;
  }

  &:active {
    stroke: white;
    color: white;
    background-color: $button-color;
    border: 2px solid $button-border-active;
  }
}

button.selected {
  @extend button;
  background-color: $button-color;
  color: $button-bg-color;

  &:hover {
    background-color: $button-bg-color-hover;
    color: $button-color-hover;
    stroke: $button-color-hover;
    border: 2px solid $button-border-hover;
  }
}

.file-upload-btn {
  @extend button;
  stroke: $button-color;
  display: inline-flex;
}

.status {
  position: fixed;
  display: none;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  background-color: #333;
  z-index: 1000;
}

.success {
  background-color: $success;
  /* Green */
}

.error {
  background-color: $error;
  /* Yellow */
  color: $error-color;
  /* Black text color for better contrast */
}

#imageInput,
#imageUpload {
  display: none;
  /* Hide the file input */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}