$accent-color: #893f40;
$accent-color-light: #f0dac8;
$accent-color-light-light: #f0f0f0;
$active-border: #897071;

.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    &:hover img {
      filter: grayscale(0);
    }
    &:hover {
      border-color: $active-border;
    }
    img {
      width: 100%;
      filter: grayscale(100%);
      border-radius: 5px;
      transition: all 0.25s ease-in-out;
    }
    p {
      margin: 5px 0;
      padding: 0;
      text-align: center;
      font-style: italic;
    }
  }
}

#pages2,
#pages {
  width: 90%;
  margin: 10px auto;
}

button {
  background-color: $accent-color-light;
  color: $accent-color;
  border: 2px solid $accent-color;
  padding: 5px;
  margin: 0 1px 0 1px;
  width: auto;
  cursor: pointer;  
  align-items: center;
  justify-content: center;
}
button:hover {
  color: $accent-color-light-light;
  stroke: $accent-color-light-light;
  background-color: $accent-color;
  border: 2px solid $active-border;
}

.file-upload-btn {
  @extend button;
  stroke: $accent-color;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button.selected {
  background-color: $accent-color;
  color: $accent-color-light;
}
button.selected:hover {
  @extend button.selected;
  color: $accent-color-light-light;
  stroke: $accent-color-light-light;
  border: 2px solid $active-border;
}

.status {
  position: fixed;
  display: none;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  left:0;
  right:0;
  bottom:0;
  background-color: #333;
  z-index: 1000;
}
.success {
  background-color: #4CAF50; /* Green */
}
.error {
  background-color: #FFEB3B; /* Yellow */
  color: #000; /* Black text color for better contrast */
}
#imageInput {
  display: none; /* Hide the file input */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.file-upload-btn:focus {
  outline: 2px solid blue; /* Example focus style */
}