#sso {
  width: max-content;
}
#sso li {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin: 1em;
  background-color: gray;
  border: 1px solid gray;
  /*width: max-content; /* Set width to max length of the text */
}

#sso li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

#sso li:hover {
  background-color: lightgray;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}

#sso li a img {
  width: 40px;
  height: auto;
  margin-right: 1em;
}
